<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="./css/style.css">

  <title>Boolzapp 1.0</title>
</head>
<body>
  <!-- background -->
  <div id="app" class="background">
    <!-- container -->
    <div class="container d-flex">
      <!-- leftbar -->
      <div class="left">
        <!-- user info -->
        <div class="top">
          <div class="user d-flex align-items-center">
            <div class="user-foto">
              <img :src="user.avatar" alt="">
            </div>
            <div class="user-name fs-5 fw-semibold">
              {{ user.name }}
            </div>
            <div class="stories">
              <i class="fa-solid fa-circle-notch"></i>
            </div>
            <div class="messages">
              <i class="fa-solid fa-message"></i>
            </div>
            <div class="options">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
        </div>
        <!-- silence block -->
        <div class="blueblock d-flex align-items-center">
          <div class="icon">
            <div class="silence d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-bell-slash"></i>
            </div>
          </div>
          <div class="text">
              <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <!-- search bar -->
        <div class="searchbar d-flex align-items-center">
          <span class="search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <input 
          type="text" 
          class="search border-0 me-3" 
          placeholder="cerca o inizia una nuova chat" 
          v-model="searchQuery">
        </div>
        <!-- contacts -->
        <div class="contacts">
          <div 
          v-for="(contact, index) in filteredContacts" 
          class="contact d-flex align-items-center" 
          @click="setActiveContact(contact, index)" 
          :class="contactClass(index)">
            <div class="contact-foto">
              <img :src="contact.avatar" alt="">
            </div>
            <div class="contact-info">
              <div class="name">{{ contact.name }}</div>
              <div class="last-message">{{ getLastMessage(contact) }}</div>
            </div>
            <div class="timesent">{{ getLastMessageTime(contact) }}</div>
          </div>
        </div>
      </div>
      <!-- right bar (chatbox) -->
      <div class="right">
        <!-- contact info in chatbox if-->
        <div class="top d-flex align-items-center" v-if="selectedContact">
          <div class="chat-image">
            <img :src="selectedContact.avatar" alt="">
          </div>
          <div class="chat-info">
            <div class="contact-name">
              {{ selectedContact.name }}
            </div>
            <div class="lasttimeonline">
              <span>Last time online {{ getLastMessageTime(selectedContact) }}</span>
            </div>
          </div>
          <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="attatch-icon">
            <i class="fa-solid fa-paperclip"></i>
          </div>
          <div class="options">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <!-- contact info in chatbox else-->
        <div class="top d-flex align-items-center" v-else>
          <div class="chat-image">
          </div>
          <div class="chat-info">
            <div class="contact-name"></div>
            <div class="lasttimeonline"></div>
          </div>
          <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="attatch-icon">
            <i class="fa-solid fa-paperclip"></i>
          </div>
          <div class="options">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <!-- chatbox messages area -->
        <div class="chatbox">
          <div 
          v-for="message in sortedMessages"
          class="d-flex justify-content-between"
          :class="{ 'message sent': message.status === 'sent', 'message received': message.status === 'received' }">
            <div class="message-size">
              {{ message.message }}
              <p>{{ getMessageTime(message) }}</p>
            </div>
            <div class="arrowdown-space">
              <div class="dropdown ">
                <button class="btn dropdown-toggle p-0 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Message Info</a></li>
                  <li @click="deleteMessage(message)"><a class="dropdown-item" href="#">Delete Message</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- chat bar compose a message -->
        <div class="chatbar d-flex align-items-center">
          <div class="emoji-icon ">
            <i class="fa-regular fa-face-smile"></i>
          </div>
          <input type="text" 
          v-model="newMessageText" 
          @keyup.enter="sendMessage" 
          placeholder="Scrivi un messaggio" 
          class="send-message">
          <div class="voice-icon ">
            <i class="fa-solid fa-microphone fa-shake"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- JS -->
  <script type="module" src="./js/script.js"></script>
</body>
</html>
