<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="./css/style.css">

    <!-- Luxon  -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js' integrity='sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==' crossorigin='anonymous'></script>

    <!-- VueJs -->
    <script src="https://unpkg.com/vue@3"></script>

    <title>Boolzapp</title>
</head>

<body>
<div id="app" class="container">
    <!-- contenitore sx -->
    <div class="left">
        <div class="header-left">
            <div class="header-left-logo">
                <img src="../img/avatar_1.jpg"  alt="Ugo de Ughi" >
                <span>Ugo de Ughi</span>
            </div>
            <div class="header-left-icons">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="left-disclaimer">
            <div class="left-disclaimer-logo">
                <i class="fa fa-bell-slash" aria-hidden="true"></i>
            </div>
            <div class="left-disclaimer-text">
                <h3>Ricevi notifiche di nuovi messaggi</h3>
                <a href="#">Attiva notifiche desktop</a>
            </div>
        </div>
        <div class="left-searchbar">
            <label class="search-label" for="search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
            <input
              id="contacts-filter"
              class="left-searchbar-input"
              name="search"
              placeholder="Cerca o inizia una nuova chat"
            >
        </div>

        <!-- contacts -->
        <div class="contacts">

            <!-- contatto  -->
           <div 
           v-for="contact in contacts" 
           class="contact"
           :class="{'active': contact === activeContact}"
           @click="activeContact = contact">
                <div class="contact-logo">
                    <img :src="`../${contact.avatar}`" alt="{{contact.name}}">
                </div>
                <div class="contact-info">
                    <h3>
                        <span class="contact-name">{{contact.name}}</span>
                        <span class="time f-right">{{ getLastDate(contact) }}</span>
                    </h3>
                    <small>{{ getLastMessage(contact) }}</small>
                    
                </div>
            </div>
        </div>
        <!-- /contacts -->
    </div>
    <!-- /contenitore sx -->

    <!-- contenitore dx -->
    <div class="right">
        <div class="header-right">
            <div class="header-right-logo">
                <img :src="`../${activeContact.avatar}`" :alt="activeContact.name">
                <h3><span id="header-right-contact-name">{{activeContact.name}}</span> <br>
                  <small class="time">Ultimo messaggio:  {{getLastDate(activeContact)}}</small></h3>
            </div>
            <div class="header-right-icons">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="right-messages-container">

            <!-- contenitore messaggi -->
            <div class="right-messages">
                <div class="message"
                v-for="message in activeContact.messages"
                :class="message.status">
                    <div class="message-text">{{message.message}}</div>
                    <div class="message-time">{{message.date}}</div>
                </div>
            </div>
            <!-- //contenitore messaggi -->


        <div class="right-footer">
            <div class="right-footer-icon f-left">
                <i class="far fa-smile"></i>
            </div>
            <input 
            class="new-message-inputs"  
            placeholder="Scrivi un messaggio"
            v-model.trim="newMessageStr"
            @keyup.enter="sendNewMessage">
            <div class="right-footer-icon f-right">
                <i class="fa fa-microphone" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <!-- /contenitore dx -->
</div>

</div>

<script type="module" src="./js/main.js"></script>
</body>

</html>